<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Menu</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      
        <navbar class="navbar-aside">
            <ul>
                <li class="navbar-aside_item">
                    <a href="./" <% if (page_name === 'index') { %>class="active" <% } %>><i class="bi bi-house-heart"></i> Início</a>
                </li>
                <li class="navbar-aside_item">
                    <a href="./colors" <% if (page_name === 'colors') { %>class="active" <% } %> ><i class="bi bi-palette"></i> Colors</a>
                </li>
                <li class="navbar-aside_item"  >
                    <a href="./typography" <% if (page_name === 'typography') { %>class="active" <% } %> ><i class="bi bi-type"></i>Typography</a>
                </li>
                <li class="navbar-aside_item">
                    <a href="./buttons" <% if (page_name === 'buttons') { %>class="active" <% } %> ><i class="bi bi-hand-index-thumb"></i> Buttons</a>
                </li>
                <li class="navbar-aside_item">
                    <a href="./alerts" <% if (page_name === 'alerts') { %>class="active" <% } %> ><i class="bi bi-exclamation-circle"></i> Alerts</a>
                </li>
                <li class="navbar-aside_item">
                    <a href="./pills" <% if (page_name === 'pills') { %>class="active" <% } %> ><i class="bi bi-tag"></i> Pills</a>
                </li>
                <li class="navbar-aside_item">
                    <a href="./cards" <% if (page_name === 'cards') { %>class="active" <% } %>><i class="bi bi-square"></i> Cards</a>
                </li>
                <li class="navbar-aside_item">
                    <a href="./tabs"  <% if (page_name === 'cards') { %>class="active" <% } %>><i class="bi bi-segmented-nav"></i> Tabs</a>
                </li>
                <li class="navbar-aside_item">
                    <a href="./counters"  <% if (page_name === 'counters') { %>class="active" <% } %>><i class="bi bi-0-square"></i> Counters</a>
                </li>
                <li class="navbar-aside_item">
                    <a href="./steps" <% if (page_name === 'steps') { %>class="active" <% } %>><i class="bi bi-bar-chart-steps"></i> Steps</a>
                </li>
                <li class="navbar-aside_item">
                    <a href="./forms-text" <% if (page_name === 'forms-text') { %>class="active" <% } %>><i class="bi bi-input-cursor-text"></i> Forms - Input Text</a>
                </li>
                <li class="navbar-aside_item">
                    <a href="./forms-select" <% if (page_name === 'forms-select') { %>class="active" <% } %>><i class="bi bi-menu-button-wide"></i> Forms - Select</a>
                </li>
                <li class="navbar-aside_item">
                    <a href="./forms-checkbox" <% if (page_name === 'forms-checkbox') { %>class="active" <% } %>><i class="bi bi-check-square"></i> Forms - Checkbox</a>
                </li>
                <li class="navbar-aside_item">
                    <a href="./forms-radio" <% if (page_name === 'forms-radio') { %>class="active" <% } %>><i class="bi bi-record-circle"></i> Forms - Radio</a>
                </li>
                <li class="navbar-aside_item">
                    <a href="./switch" <% if (page_name === 'switch') { %>class="active" <% } %>><i class="bi bi-toggle-on"></i> Switch</a>
                </li>
                <li class="navbar-aside_item">
                    <a href="./timeline" <% if (page_name === 'timeline') { %>class="active" <% } %>><i class="bi bi-signpost-split"></i> Timeline</a>
                </li>
                <li class="navbar-aside_item">
                    <a href="./modal" <% if (page_name === 'modal') { %>class="active" <% } %>><i class="bi bi-subtract"></i> Modal</a>
                </li>
                <li class="navbar-aside_item">
                    <a href="./table" <% if (page_name === 'table') { %>class="active" <% } %>><i class="bi bi-table"></i> Table</a>
                </li>
                <li class="navbar-aside_item">
                    <a href="./VitScore" <% if (page_name === 'VitScore') { %>class="active" <% } %>><i class="bi bi-trophy"></i> VitScore</a>
                </li>
                
            </ul>
        </navbar>

    </div>
  </div>