<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Menu</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      
        <nav class="navbar-aside">
            <ul>
                <li class="navbar-aside_item <% if (page_name === 'index') { %>active<% } %> ">
                    <a href="./" ><i class="bi bi-house-heart"></i> Início</a>
                </li>
                <li class="navbar-aside_item <% if (page_name === 'colors') { %>active<% } %>">
                    <a href="./colors"><i class="bi bi-palette"></i> Colors</a>
                </li>
                <li class="navbar-aside_item <% if (page_name === 'typography') { %>active<% } %>">
                    <a href="./typography"><i class="bi bi-type"></i>Typography</a>
                </li>
                <li class="navbar-aside_item <% if (page_name === 'buttons') { %>active<% } %>">
                    <a href="./buttons"><i class="bi bi-hand-index-thumb"></i> Buttons</a>
                </li>
                <li class="navbar-aside_item <% if (page_name === 'alerts') { %>active<% } %>">
                    <a href="./alerts"><i class="bi bi-exclamation-circle"></i> Alerts</a>
                </li>
                <li class="navbar-aside_item <% if (page_name === 'pills') { %>active<% } %>">
                    <a href="./pills"><i class="bi bi-tag"></i> Pills</a>
                </li>
                <li class="navbar-aside_item <% if (page_name === 'cards') { %>active<% } %>">
                    <a href="./cards"><i class="bi bi-square"></i> Cards</a>
                </li>
                <li class="navbar-aside_item <% if (page_name === 'cards') { %>active<% } %>">
                    <a href="./tabs"><i class="bi bi-segmented-nav"></i> Tabs</a>
                </li>
                <li class="navbar-aside_item <% if (page_name === 'counters') { %>active<% } %>">
                    <a href="./counters"><i class="bi bi-0-square"></i> Counters</a>
                </li>
                <li class="navbar-aside_item <% if (page_name === 'steps') { %>active<% } %>">
                    <a href="./steps"><i class="bi bi-bar-chart-steps"></i> Steps</a>
                </li>
                <li class="navbar-aside_item <% if (page_name === 'forms-text') { %>active<% } %>">
                    <a href="./forms-text"><i class="bi bi-input-cursor-text"></i> Forms - Input Text</a>
                </li>
                <li class="navbar-aside_item <% if (page_name === 'forms-select') { %>active<% } %>">
                    <a href="./forms-select"><i class="bi bi-menu-button-wide"></i> Forms - Select</a>
                </li>
                <li class="navbar-aside_item <% if (page_name === 'forms-checkbox') { %>active<% } %>">
                    <a href="./forms-checkbox"><i class="bi bi-check-square"></i> Forms - Checkbox</a>
                </li>
                <li class="navbar-aside_item <% if (page_name === 'forms-radio') { %>active<% } %>">
                    <a href="./forms-radio"><i class="bi bi-record-circle"></i> Forms - Radio</a>
                </li>
                <li class="navbar-aside_item <% if (page_name === 'switch') { %>active<% } %>">
                    <a href="./switch"><i class="bi bi-toggle-on"></i> Switch</a>
                </li>
                <li class="navbar-aside_item <% if (page_name === 'timeline') { %>active<% } %>">
                    <a href="./timeline"><i class="bi bi-signpost-split"></i> Timeline</a>
                </li>
                <li class="navbar-aside_item <% if (page_name === 'modal') { %>active<% } %>">
                    <a href="./modal"><i class="bi bi-subtract"></i> Modal</a>
                </li>
                <li class="navbar-aside_item <% if (page_name === 'table') { %>active<% } %>">
                    <a href="./table"><i class="bi bi-table"></i> Table</a>
                </li>
                <li class="navbar-aside_item <% if (page_name === 'VitScore') { %>active<% } %>">
                    <a href="./VitScore"><i class="bi bi-trophy"></i> VitScore</a>
                </li>
                
            </ul>
        </nav>

    </div>
  </div>