<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Menu</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      
        <nav class="navbar-aside">
            <ul>
                <li class="navbar-aside_item <% if (page_name === 'index') { %>active<% } %> ">
                    <a href="./"><span><i class="bi bi-house-heart"></i> Início</span></a>
                </li>
                <li class="navbar-aside_item <% if (page_name === 'colors') { %>active<% } %>">
                    <a href="./colors"><span><i class="bi bi-palette"></i> Colors</span></a>
                </li>
                <li class="navbar-aside_item <% if (page_name === 'typography') { %>active<% } %>">
                    <a href="./typography"><span><i class="bi bi-type"></i>Typography</span></a>
                </li>
                <li class="navbar-aside_item <% if (page_name === 'buttons') { %>active<% } %>">
                    <a href="./buttons"><span><i class="bi bi-hand-index-thumb"></i> Buttons</span></a>
                </li>
                <li class="navbar-aside_item <% if (page_name === 'alerts') { %>active<% } %>">
                    <a href="./alerts"><span><i class="bi bi-exclamation-circle"></i> Alerts</span></a>
                </li>
                <li class="navbar-aside_item <% if (page_name === 'pills') { %>active<% } %>">
                    <a href="./pills"><span><i class="bi bi-tag"></i> Pills</span></a>
                </li>
                <li class="navbar-aside_item <% if (page_name === 'cards') { %>active<% } %>">
                    <a href="./cards"><span><i class="bi bi-square"></i> Cards</span></a>
                </li>
                <li class="navbar-aside_item <% if (page_name === 'cards') { %>active<% } %>">
                    <a href="./tabs"><span><i class="bi bi-segmented-nav"></i> Tabs</span></a>
                </li>
                <li class="navbar-aside_item <% if (page_name === 'counters') { %>active<% } %>">
                    <a href="./counters"><span><i class="bi bi-0-square"></i> Counters</span></a>
                </li>
                <li class="navbar-aside_item <% if (page_name === 'steps') { %>active<% } %>">
                    <a href="./steps"><span><i class="bi bi-bar-chart-steps"></i> Steps</span></a>
                </li>
                <li class="navbar-aside_item submenu <% if (page_name === 'forms-text' || page_name === 'forms-select' || page_name === 'forms-checkbox'|| page_name === 'forms-radio') { %>active<% } %>">
                    <a href="javascript:void(0);" class="submenu-toggle"><span><i class="bi bi-ui-checks-grid"></i> Forms </span><i class="bi bi-chevron-down"></i></a>
                    <ul class="submenu-items">
                        <li class="submenu_item <% if (page_name === 'forms-text') { %>active<% } %>"><a href="./forms-text">Input Text</a></li>
                        <li class="submenu_item <% if (page_name === 'forms-select') { %>active<% } %>"><a href="./forms-select">Select</a></li>
                        <li class="submenu_item <% if (page_name === 'forms-checkbox') { %>active<% } %>"><a href="./forms-checkbox">Checkbox</a></li>
                        <li class="submenu_item <% if (page_name === 'forms-radio') { %>active<% } %>"><a href="./forms-radio">Radio</a></li>
                    </ul>
                </li>
                <li class="navbar-aside_item <% if (page_name === 'switch') { %>active<% } %>">
                    <a href="./switch"><span><i class="bi bi-toggle-on"></i> Switch</span></a>
                </li>
                <li class="navbar-aside_item <% if (page_name === 'timeline') { %>active<% } %>">
                    <a href="./timeline"><span><i class="bi bi-signpost-split"></i> Timeline</span></a>
                </li>
                <li class="navbar-aside_item <% if (page_name === 'modal') { %>active<% } %>">
                    <a href="./modal"><span><i class="bi bi-subtract"></i> Modal</span></a>
                </li>
                <li class="navbar-aside_item <% if (page_name === 'table') { %>active<% } %>">
                    <a href="./table"><span><i class="bi bi-table"></i> Table</span></a>
                </li>
                <li class="navbar-aside_item <% if (page_name === 'VitScore') { %>active<% } %>">
                    <a href="./VitScore"><span><i class="bi bi-trophy"></i> VitScore</span></a>
                </li>
                
            </ul>
        </nav>

    </div>
  </div>