.btn {
    font-family:$font-family-base;
    border-radius: $border-radius-pill;
    border: 1px solid transparent;
    font-weight: $font-weight-semibold;
    padding: $spacing-xxxs $spacing-xs;
    font-size: $font-size-xs;
    text-align: center;
    line-height: $line-height-sm;
    cursor:pointer;

    // MOBILE
    @media (max-width: 1200px) {
        font-size: $font-size-xxs;
    }

    &:hover, &:active, &:first-child:active, &:not(.btn-check)+.btn:active, &:focus-visible {
        border: 1px solid transparent;
    }
    &:focus {
        animation: focus 2s infinite ease-in-out;
    }
    &:disabled {
        background:$neutral-color-high-medium;
        opacity: $opacity-level-medium;
        color:$neutral-color-low-pure;
        border: 1px solid transparent;
    }
}

.btn-xs {
    font-size: $font-size-xxxs;
    padding: $spacing-nano $spacing-xxxs;
}

.btn-sm {
    padding: $spacing-nano $spacing-xs;
}

.btn-lg {
    padding: $spacing-xxs $spacing-xs;
}

.btn-primary {
    @extend .btn;
    color:$btn-color-primary-text;
    background:$btn-color-primary-bg;

    &:hover, &:active, &:first-child:active, &:not(.btn-check)+.btn:active, &:focus-visible {
        color:$btn-color-primary-text;
        background:$btn-color-primary-bg;
        filter: brightness(80%);
        transition: $transition-base;
    }
    &:focus {
        box-shadow: 0 0 5px 0 $btn-color-primary-bg;
    }
    &-link {
        background: transparent;
        color: $brand-color-primary-pure;
        text-decoration: none;

        &:hover, &:active, &:first-child:active, &:not(.btn-check)+.btn:active, &:focus-visible {
            color: $brand-color-primary-pure;
            background-color: $neutral-color-high-light;
        }
        &:focus {
            box-shadow: 0 0 5px 0 $brand-color-primary-pure;
        }
    }
    &-outline {
        border: 2px solid $btn-color-primary-bg;
        color:$btn-outline-color-primary-text;
        background: transparent;

        &:hover, &:active, &:first-child:active, &:not(.btn-check)+.btn:active, &:focus-visible {
            color:$btn-outline-color-primary-text;
            border: 2px solid $btn-color-primary-bg;
            background-color: $brand-color-primary-light;
        }
        &:focus {
            box-shadow: 0 0 5px 0 $btn-color-primary-bg;
        }

        &-icon {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    &-icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.btn-secondary {
    @extend .btn;
    color:$btn-color-secondary-text;
    background:$btn-color-secondary-bg;

    &:hover, &:active, &:first-child:active, &:not(.btn-check)+.btn:active, &:focus-visible {
        color:$btn-color-secondary-text;
        background:$btn-color-secondary-bg;
        filter: brightness(80%);
        transition: $transition-base;
    }
    &:focus {
        box-shadow: 0 0 5px 0 $btn-color-secondary-bg;
    }
    &-link {
        background: transparent;
        color: $btn-link-color-secondary-text;
        text-decoration: none;

        &:hover, &:active, &:first-child:active, &:not(.btn-check)+.btn:active, &:focus-visible {
            color: $btn-link-color-secondary-text;
            background-color: $neutral-color-high-light;
        }
        &:focus {
            box-shadow: 0 0 5px 0 $btn-link-color-secondary-text;
        }
    }
    &-outline {
        border: 2px solid $btn-color-secondary-bg;
        color:$btn-outline-color-secondary-text;
        background: transparent;

        &:hover, &:active, &:first-child:active, &:not(.btn-check)+.btn:active, &:focus-visible {
            color:$btn-outline-color-secondary-text;
            border: 2px solid $btn-color-secondary-bg;
            background-color: $neutral-color-high-light;
        }
        &:focus {
            box-shadow: 0 0 5px 0 $btn-color-secondary-bg;
        }
        &-icon {
            background: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &-icon {
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.btn-low-pure {
    @extend .btn;
    color:$white;
    background:$neutral-color-low-pure;

    &:hover, &:active, &:first-child:active, &:not(.btn-check)+.btn:active, &:focus-visible {
        color:$white;
        background:$neutral-color-low-pure;
        filter: brightness(80%);
        transition: $transition-base;
    }
    &:focus {
        box-shadow: 0 0 5px 0 $neutral-color-low-pure;
    }
    &-link {
        background: transparent;
        color: $btn-link-color-secondary-text;
        text-decoration: none;

        &:hover, &:active, &:first-child:active, &:not(.btn-check)+.btn:active, &:focus-visible {
            color: $btn-link-color-secondary-text;
            background-color: $neutral-color-high-light;
        }
        &:focus {
            box-shadow: 0 0 5px 0 $btn-link-color-secondary-text;
        }
    }
    &-outline {
        border: 2px solid $neutral-color-low-pure;
        color:$neutral-color-low-pure;
        background: transparent;

        &:hover, &:active, &:first-child:active, &:not(.btn-check)+.btn:active, &:focus-visible {
            color:$neutral-color-low-pure;
            border: 2px solid $neutral-color-low-pure;
            background-color: $neutral-color-high-light;
        }
        &:focus {
            box-shadow: 0 0 5px 0 $neutral-color-low-pure;
        }
        &-icon {
            background: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    &-icon {
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
