.navbar-aside {
    width: 100%;
    padding-top: $spacing-xxs;

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        width: 100%;

        .navbar-aside_item {
            border-left: 4px solid transparent;

            &:hover, &.active {
                background-color: #FBFBFB;
                color: $brand-color-secondary-pure;
                border-left: 4px solid $brand-color-secondary-pure;

                a {
                    font-weight: $font-weight-medium;
                }
                ul.submenu-items {
                    li.active {
                        a {
                            font-weight: $font-weight-medium;
                        }
                    }
                }

            }

            a {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: $spacing-nano $spacing-xxxs;
                text-decoration: none;
                color: $neutral-color-low-pure;

                i {
                    margin-right: $spacing-quarck;
                }
            }

            &.submenu {
                a > i {
                    font-size: 12px;
                }
                a > svg {
                    width: 12px;
                    height: 12px;
                }

                ul.submenu-items {
                    display: none;
                    font-size: 14px;
                    list-style: disc;
                    padding: 0 0 0 50px;


                    li {
                        a {
                            padding-left: 0;
                            padding-top: 0;
                            color: $neutral-color-low-light;
                            font-weight: 400;
                        }

                        &:hover a, &.active a {
                            color: var(--neutral-color-low-pure);
                        }
                    }

                }
            }
        }
    }
}

.navbar-expand-lg .offcanvas {
    //width: 250px !important;
    //max-width: 250px !important;
    //max-width: 250px;
    background-color: $neutral-color-high-pure !important;
    box-shadow: $shadow-level-1;
    position: sticky;
    top: 90px;
    display: flex !important;
    height: calc(100vh - 90px)!important;
    overflow-y: auto;
    flex: 0 0 220px;

    @media (max-width: 992px) {
        position: absolute;
        top: 0;
        height: 100vh !important;
        width: 220px;
    }
}

.offcanvas-body {
    flex: 1 !important;
}

.offcanvas-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $spacing-xxs;
}