<!doctype html>
<html lang="pt-br">

    <%- include('../partials/head'); %>
    
    <body class="navbar-expand-lg">
        <%- include('../partials/header'); %>

        <div class="main d-flex">
            <%- include('../partials/navbar-aside.ejs'); %>
            <div class="container p-5">
                <div class="page-title">
                    <h2 class="heading-2 brand-color-secondary-pure"> Counters</h2>
                </div>
                <div class="row">
                  <div class="col-lg-12 my-4">

                    <div class="cardes mb-5">

                      <div class="d-flex gap-5">
                        <div class="counter counter-success-1">
                          <p class="heading-1">32</p>
                          <span class="overline">Registros</span>
                        </div>

                        <div class="counter counter-danger-1">
                          <p class="heading-1">32</p>
                          <span class="overline">Registros</span>
                        </div>
                        <div class="counter counter-warning-1">
                          <p class="heading-1">32</p>
                          <span class="overline">Registros</span>
                        </div>
                        <div class="counter counter-neutral-low-pure-1">
                          <p class="heading-1">32</p>
                          <span class="overline">Registros</span>
                        </div>
                      </div>

                        <pre class="line-numbers mt-4">
                            <code class="language-markup">
    
                            </code>
                        </pre>
                    </div>

                  </div>
                </div>
            </div>
        </div>


        <%- include('../partials/footer'); %>
    </body>
</html>