
//EXEMPLO DE COR PERSONALIZADA DO CLIENTE
:root {
    //BRAND
  --brand-color-primary-pure: #ff0000;
  --brand-color-secondary-pure: #ff0000;

  //BUTTONS
  --btn-color-primary-text: #fff;
  --btn-color-secondary-text: #fff;
  --btn-color-secondary-bg: #ff0000;
  --btn-outline-color-primary-text: #ff0000;
  --btn-outline-color-secondary-text: #ff0000;

  //PILLS
  --pill-primary-text: #fff;
  --pill-secondary-text: #fff;

  //CHECKBOX
  --color-checkbox-checked:#fff;

  //ALERTS
  --alert-color-primary-text: #fff;
  --alert-color-primary-bg: #ff0000;
  --alert-color-primary-border: #ff0000;
  --alert-color-secondary-text: #fff;
  --alert-color-secondary-bg: #ff0000;
  --alert-color-secondary-border: #ff0000;
}
